.type1 A:link {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: µ¸¿ò, verdana; TEXT-DECORATION: none
}
.type1 A:visited {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: µ¸¿ò, verdana; TEXT-DECORATION: none
}
.type1 A:active {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: µ¸¿ò, verdana; TEXT-DECORATION: none
}
.type1 A:hover {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: µ¸¿ò, verdana; TEXT-DECORATION: none
}
.type2 A:link {
	FONT-SIZE: 12px; COLOR: #b1a28d; FONT-FAMILY: µ¸¿ò, verdana; TEXT-DECORATION: none
}
.type2 A:visited {
	FONT-SIZE: 12px; COLOR: #b1a28d; FONT-FAMILY: µ¸¿ò, verdana; TEXT-DECORATION: none
}
.type2 A:active {
	FONT-SIZE: 12px; COLOR: #654c33; FONT-FAMILY: µ¸¿ò, verdana; TEXT-DECORATION: none
}
.type2 A:hover {
	FONT-SIZE: 12px; COLOR: #654c33; FONT-FAMILY: µ¸¿ò, verdana; TEXT-DECORATION: none
}
